.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  min-height: 56px;
}

.avatar {
  position: absolute;
  top: -28px;
  left: calc(50% - 28px);
}

.titles {
  margin-top: 1rem;
  text-align: center;
}

.titles p {
  margin-top: 1rem;
}

@media screen and (max-width: 640px) {
  .titles {
    margin-top: 2rem;
  }
  .title {
    font-size: 24px;
  }
}
