:root {
  --primary: hsl(176, 50%, 47%);
  --secondary: hsl(176, 72%, 28%);
  --neutralGray: hsl(0, 0%, 48%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Commissioner", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbfbfb;
  font-size: 1rem;
}

p {
  color: hsl(0, 0%, 48%);
}
