.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  padding: 4rem 20px;
}

.logo {
}

.navLinks {
  display: flex;
  list-style: none;
}

.navLinks li {
  margin-right: 2rem;
  cursor: pointer;
}

.navLinks li:last-of-type {
  margin-right: 0;
}

.hamburger {
  cursor: pointer;
}

@media screen and (min-width: 640px) {
  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .navLinks {
    display: none;
  }
}
