.card {
  background: white;
  border: 2px solid #eee;
  border-radius: 8px;
  padding: 2rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-bottom: 1.5rem;
  position: relative;
}

@media screen and (max-width: 640px) {
  .card {
    padding: 1.25rem;
  }
}
