.bookmark {
  font-size: 14px;
  font-family: "Commissioner", sans-serif;
  font-weight: 700;
  width: fit-content;
  height: 56px;
  display: flex;
  align-items: center;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

.bookmarked {
  color: var(--secondary);
}

.bookmark span {
  margin: 0 1.25rem 0 0.75rem;
}

@media screen and (max-width: 640px) {
  span {
    display: none;
  }
}
